
{% extends 'home/base.html' %}

{% load static %}
{% block content %}
    {% if another_user and not another_user == user%}
	<div class="row profile">
	     
		<div class="col-lg-4 text-center" style="padding-top:50px;padding-bottom:50px;">
		    {% if another_user.profile_pic %}
			<img src="{{ another_user.profile_pic.url }}" width="200" class="img-circle"/>
		    {% else %}
			
			<img src="{% static 'home/pictures/user.png' %}" width="100" class="img-circle"/>
		    {% endif %}
		</div>
		<div class="col-lg-8" >
		    <div class="row">
			<h2 class="col-lg-6">{{ another_user }}</h2>
			{% if  user.is_authenticated %}
			<a href="#" class="btn btn-info col-lg-2" style="margin-top:15px;">Follow </a>
			{% endif %}
		    </div>
		    <div class="row" style="margin-top:20px;">
			<div class="col-lg-4">
			    <span> posts</span>
			</div>
			<div class="col-lg-4">
			    <span>Followers</span>
			</div>
			<div class="col-lg-4">
			    <span>Following </span>
			</div>

		    </div>
		    <div class="row" style="margin-top:30px;">
			<div class="col-lg-6">
			<span>Bio :</span>
			<p>{{ another_user.bio }} </p>
			</div>
		    </div>
		</div>
	</div>
	<div class="row">
	    {% for image in another_user.picture_set.all %}
		<div class="col-lg-4" style="height:350px;">
		    <div class="" style="border:solid 1px gray;padding:5px 5px;border-radius:5px;">
			<img src="{{ image.image.url }}" width="100%" />
			<div class="caption" style="padding:10px 10px;">
			    <p> <span class="badge" id="image{{image.id }}">{{image.likes }} like </span>
			    {% if user.is_authenticated %} 
			    <a  style="float:right;" class="btn btn-warning like_button" id="{{ image.id }}">Like </a>
			    {% endif %}
			    
			    </p>
			</div>
		    </div>	    
		</div>
	    {% endfor %}
	</div>
    {% else %}
    <h2> Welcome to index page </h2>

    {% endif %}

{% endblock %}
