
{% extends 'home/base.html' %}

{% block content %}
    
    <div class="col-lg-4 alphaform">
	    <form  method="post" action="{% url 'accounts:ch_password' %}">
		{% csrf_token %}
		<div class="form-group">
		    {{ form.old_password.erros }}
		    {{ form.old_password.label_tag}}
		    {{ form.old_password }}
		</div>
		<div class="form-group">
		    {{ form.new_password1.erros }}
		    {{ form.new_password1.label_tag}}
		    {{ form.new_password1 }}
		</div>
		<div class="form-group">
		    {{ form.new_password2.erros }}
		    {{ form.new_password2.label_tag}}
		    {{ form.new_password2 }}
		</div>

		<input type="submit" value="Send" class="btn btn-success"/>
	    </form>
    </div>


{% endblock %}
